@page "/insurnace/screen2"

@inject NavigationManager NavManager
@inject ProtectedSessionStorage session
@inject IInsuranceService InsuranceService

@using InsuranceWebApp.Data
@using Blazored.FluentValidation

@if (payload == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Insurance Details - Final Step</h3>
    <hr />
    <div class="container">
        <EditForm Model="payload.memberInsurance" OnValidSubmit="Calculate">
            <FluentValidationValidator />
            <div class="form-group row">
                <label class="col-3 col-form-label control-label">@Helpers.GetDisplayName(nameof(payload.memberInsurance.Occupation), typeof(MemberInsurance))</label>
                <div class="col-3" title=@Helpers.GetDisplayDescription(nameof(payload.memberInsurance.Occupation), typeof(MemberInsurance))>
                    <InputSelect class="form-control" @bind-Value="payload.memberInsurance.Occupation">
                        <option value="">--Select Option--</option>
                        @{
                                foreach (var item in Helpers.GetKeyValuesAsListFromEnum(typeof(Constants.Occupation)).OrderBy(x => x.Key))
                                {
                                <option value="@item.Key">@item.Value</option>
                                }
                        }
                    </InputSelect>
                </div>
                <div class="col-6"></div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label control-label">@Helpers.GetDisplayName(nameof(payload.memberInsurance.SumInsured), typeof(MemberInsurance))</label>
                <div class="col-3" title=@Helpers.GetDisplayDescription(nameof(payload.memberInsurance.SumInsured), typeof(MemberInsurance))>
                    <InputNumber class="form-control" @bind-Value="payload.memberInsurance.SumInsured" />
                    <ValidationMessage For="@(() => payload.memberInsurance.SumInsured)" />
                </div>
                <div class="col-6"></div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label control-label">@Helpers.GetDisplayName(nameof(payload.memberInsurance.MonthlyExpense), typeof(MemberInsurance))</label>
                <div class="col-3" title=@Helpers.GetDisplayDescription(nameof(payload.memberInsurance.MonthlyExpense), typeof(MemberInsurance))>
                    <InputNumber class="form-control" @bind-Value="payload.memberInsurance.MonthlyExpense" />
                </div>
                <div class="col-6"></div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label control-label">@Helpers.GetDisplayName(nameof(payload.memberInsurance.State), typeof(MemberInsurance))</label>
                <div class="col-3" title=@Helpers.GetDisplayDescription(nameof(payload.memberInsurance.State), typeof(MemberInsurance))>
                    <InputSelect class="form-control" @bind-Value="payload.memberInsurance.State">
                        <option value="">--Select Option--</option>
                        @{
                                foreach (var item in Helpers.GetKeyValuesAsListFromEnum(typeof(Constants.State)).OrderBy(x => x.Key))
                                {
                                <option value="@item.Key">@item.Value</option>
                                }
                        }
                    </InputSelect>
                </div>
                <div class="col-6"></div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label control-label">@Helpers.GetDisplayName(nameof(payload.memberInsurance.PostCode), typeof(MemberInsurance))</label>
                <div class="col-3" title=@Helpers.GetDisplayDescription(nameof(payload.memberInsurance.PostCode), typeof(MemberInsurance))>
                    <InputNumber class="form-control" @bind-Value="payload.memberInsurance.PostCode" />
                    <ValidationMessage For="@(() => payload.memberInsurance.PostCode)" />
                </div>
                <div class="col-6"></div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <button class="col-1 btn btn-info mb-2" type="submit">Calculate</button>
                <div class="col-6">
                    @if (@payload.memberInsurance.TotalValue > 0)
                    {
                        <label class="col-form-label control-label">$ @payload.memberInsurance.TotalValue</label>
                    }
                    else
                    {
                        <label class="col-form-label control-label">@Helpers.GetDisplayName(nameof(payload.memberInsurance.TotalValue), typeof(MemberInsurance))</label>
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary mb-2" @onclick="BackToScreen1" type="button" @onclick:stopPropagation="true">Previous</button>
                    <button class="btn btn-primary mb-2" @onclick="BackToMainPage" type="button" @onclick:stopPropagation="true">Close</button>
                </div>
                <div class="col-10"></div>
            </div>
        </EditForm>
    </div>
}

@code {

    private InsuranceDetail payload;

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var result = await session.GetAsync<InsuranceDetail>("insuranceDetails");

                if (result.Success)
                {
                    payload = result.Value;
                }
                else
                {
                    NavManager.NavigateTo($"/insurnace/screen1/");
                }
            }
            catch {
                NavManager.NavigateTo($"/insurnace/screen1/");
            }
            this.StateHasChanged();
        }
    }

    private async void BackToScreen1()
    {
        await session.SetAsync("insuranceDetails", payload);
        NavManager.NavigateTo($"/insurnace/screen1/");
    }

    private async void Calculate()
    {
        payload.memberInsurance.TotalValue = InsuranceService.CalculateInsurance(payload);
        await session.SetAsync("insuranceDetails", payload);
        this.StateHasChanged();
        return;
    }

    private async void BackToMainPage()
    {
        await session.DeleteAsync("insuranceDetails");
        NavManager.NavigateTo($"/");
    }
}
